body {
    background-color: #eee;
}

.card {
    background-color: #fff;
    padding: 15px;
    border: none;
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da;
}

.form-control {
    height: 50px;
    background-color: #eeeeee69;
}

.form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee;
}

.list {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.border-bottom {
    border-bottom: 2px solid #eee;
}

.list i {
    font-size: 19px;
    color: #919191;
}

.list small {
    color: #bbbbbb;
}

#wrapped + .input-group-addon {
    margin: 0;
    padding: 0;
    min-width: 32rem;
    border: none;
}

#wrapped + .input-group-addon > .form-control {
    border-left: none;
}

.input-group > :not(:first-child):not(.dropdown-menu) {
    margin-left: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 84%;
}
